/* 初始化 */
*{font-family:'Microsoft YaHei UI',Arial;}
section{text-align:center;}
hgroup{width:800px;margin:0 auto;}
hgroup h1{font-size:48px;font-weight:lighter;margin-top:100px;margin-bottom:50px;letter-spacing:8px;color:#f46208;}
hgroup h2{font-size:14px;font-weight:normal;margin-bottom:50px;}
a{display:block;text-decoration:none;}
ul{list-style:none;}

/* header */
header{min-width:900px;height:100px;background:#2e2e2e;}
header > .container{width:85%;min-width:820px;margin:0 auto;}
header > .container > a{line-height:100px;float:left;color:#fff;}
header > .container > a > img{vertical-align:middle;}
header > .container > nav{line-height:100px;float:right;}
header > .container > nav > a{font-size:24px;float:left;width:130px;margin-right:5px;text-align:center;color:#fff;}
header > .container > nav > a:hover{color:#2e2e2e;background:#ed4d4d;text-shadow:.5px .5px #000;}

/* banner */
#banner{min-width:900px;height:670px;text-align:center;color:#fff;background:url(../img/banner.jpg) no-repeat;background-size:cover;text-shadow:1px 1px #2e2e2e;}
#banner > hgroup{width:900px;padding:280px 0;}
#banner > hgroup > h1{font-size:60px;margin:0;margin-bottom:10px;letter-spacing:2px;word-spacing:10px;color:#fff;}
#banner > hgroup > h2{font-size:20px;margin:0;}

/* portfolio */
#portfolio > nav{width:530px;margin:0 auto;}
#portfolio > nav > a{font-size:20px;float:left;margin-right:20px;padding:7px;text-align:center;color:#f46208;border:1.3px solid #f46208;}
#portfolio > nav > a:hover{cursor:pointer;background-color:#2e2e2e;}
#portfolio > .portfolioimg{height:571px;margin-top:150px;background-image:url(../img/portfolio-nav-img.jpg);background-repeat:no-repeat;background-size:100% 571px;min-width: 900px;}

/* stats */
#stats{height:550px;}
#stats > ul{width:850px;margin:0 auto;}
#stats > ul > li{float:left;width:200px;}
#stats > ul > li > .number{font-size:25px;letter-spacing:5px;color:#f46208;}

/* team */
#team{height:650px;padding-top:10px;background:#2e2e2e;min-width: 900px;}
#team > hgroup > h2{color:#fff;}
#team > .teamcontainer{width:900px;margin:0 auto;}
#team > .teamcontainer > dl{float:left;width:300px;text-align:center;color:#fff;}
#team > .teamcontainer > dl > dt{margin-bottom:10px;margin-left:50px;}
#team > .teamcontainer > dl > .tname{font-size:20px;margin-bottom:10px;}

/* contact us */
#contactus > form{width:900px;margin:0 auto;}
#contactus > form > input{display:block;width:425px;height:40px;margin-bottom:20px;padding:5px;}
#contactus > form > input:nth-child(1){float:left;}
#contactus > form > input:nth-child(2){float:right;}
#contactus > form > textarea{display:block;width:890px;height:230px;margin-bottom:30px;padding:5px;resize:none;}
#contactus > form > textarea::placeholder{line-height:230px;}
#contactus > form > textarea:-ms-input-placeholder{line-height:230px;}
#contactus > form > input:last-of-type{font-size:20px;width:200px;height:50px;margin:0 auto;margin-bottom:100px;word-spacing:5px;color:#fff;border:none;background-color:#f46208;}
#contactus > form > input:last-of-type:hover{cursor:pointer;}

/* footer */
footer{font-size:20px;line-height:100px;height:100px;text-align:center;color:#fff;background-color:#000;min-width: 900px;}