* {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/* sky background*/
.sky {
	width: 100%;
	height: 60%;
	background: -webkit-linear-gradient(top, rgb(196, 228, 253), transparent);
	background: -moz-linear-gradient(bottom, rgb(196, 228, 253), transparent);
	background: -o-linear-gradient(bottom, rgb(196, 228, 253), transparent);
	background: linear-gradient(to bottom, rgb(196, 228, 253), transparent);
	position: relative;
}

/* grass background and rabbit */
.grass {
	width: 100%;
	height: 40%;
	background: -webkit-linear-gradient(bottom, rgb(148, 190, 89), transparent);
	background: -moz-linear-gradient(top, rgb(148, 190, 89), transparent);
	background: -o-linear-gradient(top, rgb(148, 190, 89), transparent);
	background: linear-gradient(to top, rgb(148, 190, 89), transparent);
}

.grass > img {
	width: 20%;
	position: fixed;
	right: 200px;
	bottom: 50px;
}

/* sky cloud and animation*/
.sky >div[class^="cloud"] {
	width: 330px;
	height: 120px;
	background-color: #fff;
	border-radius: 80px;
	position: absolute;
}

.sky > div[class^="cloud"]:before {
	content: "";
	position: absolute;
	width: 100px;
	height: 175px;
	background-color: #fff;
	border-radius: 80px;
	top: -40px;
	left: 45px;
	transform: rotate(-30deg);
}

.sky > div[class^="cloud"]:after {
	content: "";
	position: absolute;
	width: 210px;
	height: 230px;
	background-color: #fff;
	border-radius: 150px;
	top: -100px;
	right: 30px;
}

.sky > .cloud1 {
	right: 160px;
	top: 70px;
	transform: scale(.6);
	opacity: 1;
	-webkit-animation: cloudanimation1 10s linear  infinite;
	-moz-animation: cloudanimation1 10s linear  infinite;
	-o-animation: cloudanimation1 10s linear  infinite;
	animation: cloudanimation1 10s linear  infinite;
}

.sky > .cloud2 {
	top: 200px;
	right: 420px;
	transform: scale(.4);
	opacity: 0.9;
	-webkit-animation: cloudanimation2 14s linear infinite;
	-moz-animation: cloudanimation2 14s linear infinite;
	-o-animation: cloudanimation2 14s linear infinite;
	animation: cloudanimation2 14s linear infinite;
}

.sky > .cloud3 {
	right: 660px;
	top: 140px;
	transform: scale(.8);
	opacity: 0.8;
	-webkit-animation: cloudanimation3 5s linear infinite;
	-moz-animation: cloudanimation3 5s linear infinite;
	-o-animation: cloudanimation3 5s linear infinite;
	animation: cloudanimation3 5s linear infinite;
}

.sky > .cloud4 {
	right: 870px;
	top: 240px;
	transform: scale(.6);
	opacity: 0.7;
	-webkit-animation: cloudanimation4 7s linear infinite;
	-moz-animation: cloudanimation4 7s linear infinite;
	-o-animation: cloudanimation4 7s linear infinite;
	animation: cloudanimation4 7s linear infinite;
}

.sky> .cloud5 {
	right: 1000px;
	top: 50px;
	transform: scale(.6);
	opacity: 0.6;
	-webkit-animation: cloudanimation5 8s linear infinite;
	-moz-animation: cloudanimation5 8s linear infinite;
	-o-animation: cloudanimation5 8s linear infinite;
	animation: cloudanimation5 8s linear infinite;
}

@keyframes cloudanimation1 {
	0% {
		right: -500px;
	}

	75% {
		right: 100%;
	}

	100% {
		right: 170%;
	}

}

@keyframes cloudanimation2 {
	0% {
		right: -300px;
	}

	75% {
		right: 100%;
	}

	100% {
		right: 170%;
	}

}

@keyframes cloudanimation3 {
	0% {
		right: -300px;
	}

	75% {
		right: 100%;
	}

	100% {
		right: 170%;
	}

}

@keyframes cloudanimation4 {
	0% {
		right: 50px;
	}

	75% {
		right: 100%;
	}

	100% {
		right: 170%;
	}

}

@keyframes cloudanimation5 {
	0% {
		right: 200px;
	}

	75% {
		right: 100%;
	}

	100% {
		right: 170%;
	}

}